<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Servlet_signup</servlet-name>
        <servlet-class>com.imagelake.android.signup.Servlet_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_signin</servlet-name>
        <servlet-class>com.imagelake.android.signin.Servlet_signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_privilages</servlet-name>
        <servlet-class>com.imagelake.android.privilages.Servlet_privilages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_LightBox</servlet-name>
        <servlet-class>com.imagelake.android.lightbox.Servlet_LightBox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_downloadhistory</servlet-name>
        <servlet-class>com.imagelake.android.downloadhistory.Servlet_downloadhistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_editprofile</servlet-name>
        <servlet-class>com.imagelake.android.editprofile.Servlet_editprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_ChangePassword</servlet-name>
        <servlet-class>com.imagelake.android.changepassword.Servlet_ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_BeContributor</servlet-name>
        <servlet-class>com.imagelake.android.becontributor.Servlet_BeContributor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Earnings</servlet-name>
        <servlet-class>com.imagelake.earnings.Servlet_Earnings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_EarningsValues</servlet-name>
        <servlet-class>com.imagelake.earnings.Servlet_EarningsValues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_MyImages</servlet-name>
        <servlet-class>com.imagelake.android.myuploads.Servlet_MyImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_UpdateMyImages</servlet-name>
        <servlet-class>com.imagelake.android.myuploads.Servlet_UpdateMyImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Uploads</servlet-name>
        <servlet-class>com.imagelake.android.upload.Servlet_Uploads</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_categories</servlet-name>
        <servlet-class>com.imagelake.android.category.Servlet_categories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_AdminEarnings</servlet-name>
        <servlet-class>com.imagelake.android.earnings.Servlet_AdminEarnings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_UserManagement</servlet-name>
        <servlet-class>com.imagelake.android.usersmanagement.Servlet_UserManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_purchaseVisePackages</servlet-name>
        <servlet-class>com.imagelake.android.purchasemanagement.Servlet_purchaseVisePackages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_purchaseViseImages</servlet-name>
        <servlet-class>com.imagelake.android.purchasemanagement.Servlet_purchaseViseImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_UploadManagement</servlet-name>
        <servlet-class>com.imagelake.android.uploadmanagement.Servlet_UploadManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_ImageManagement</servlet-name>
        <servlet-class>com.imagelake.android.imagemanagement.Servlet_ImageManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_UserSetting</servlet-name>
        <servlet-class>com.imagelake.android.settings.Servlet_UserSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_ImageSetting</servlet-name>
        <servlet-class>com.imagelake.android.settings.Servlet_ImageSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_PrivilegeSetting</servlet-name>
        <servlet-class>com.imagelake.android.settings.Servlet_PrivilegeSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_PackageSetting</servlet-name>
        <servlet-class>com.imagelake.android.settings.Servlet_PackageSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Search</servlet-name>
        <servlet-class>com.imagelake.android.search.Servlet_Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Components</servlet-name>
        <servlet-class>com.imagelake.android.search.Servlet_Components</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_ImageDetails</servlet-name>
        <servlet-class>com.imagelake.android.details.Servlet_ImageDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Download</servlet-name>
        <servlet-class>com.imagelake.android.download.Servlet_Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Download_1</servlet-name>
        <servlet-class>com.imagelake.android.download.Servlet_Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Account</servlet-name>
        <servlet-class>com.imagelake.android.account.Servlet_Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Packages</servlet-name>
        <servlet-class>com.imagelake.android.packages.Servlet_Packages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Purch</servlet-name>
        <servlet-class>com.imagelake.android.packages.Servlet_Purch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_ChangePhoneno</servlet-name>
        <servlet-class>com.imagelake.android.changephoneno.Servlet_ChangePhoneno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Rating</servlet-name>
        <servlet-class>com.imagelake.android.download.Servlet_Rating</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_signup</servlet-name>
        <url-pattern>/Servlet_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_signin</servlet-name>
        <url-pattern>/Servlet_signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_privilages</servlet-name>
        <url-pattern>/Servlet_privilages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_LightBox</servlet-name>
        <url-pattern>/Servlet_LightBox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_downloadhistory</servlet-name>
        <url-pattern>/Servlet_downloadhistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_editprofile</servlet-name>
        <url-pattern>/Servlet_editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_ChangePassword</servlet-name>
        <url-pattern>/Servlet_ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_BeContributor</servlet-name>
        <url-pattern>/Servlet_BeContributor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Earnings</servlet-name>
        <url-pattern>/Servlet_Earnings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_EarningsValues</servlet-name>
        <url-pattern>/Servlet_EarningsValues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_MyImages</servlet-name>
        <url-pattern>/Servlet_MyImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_UpdateMyImages</servlet-name>
        <url-pattern>/Servlet_UpdateMyImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Uploads</servlet-name>
        <url-pattern>/Servlet_Uploads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_categories</servlet-name>
        <url-pattern>/Servlet_categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_AdminEarnings</servlet-name>
        <url-pattern>/Servlet_AdminEarnings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_UserManagement</servlet-name>
        <url-pattern>/Servlet_UserManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_purchaseVisePackages</servlet-name>
        <url-pattern>/Servlet_purchaseVisePackages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_purchaseViseImages</servlet-name>
        <url-pattern>/Servlet_purchaseViseImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_UploadManagement</servlet-name>
        <url-pattern>/Servlet_UploadManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_ImageManagement</servlet-name>
        <url-pattern>/Servlet_ImageManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_UserSetting</servlet-name>
        <url-pattern>/Servlet_UserSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_ImageSetting</servlet-name>
        <url-pattern>/Servlet_ImageSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_PrivilegeSetting</servlet-name>
        <url-pattern>/Servlet_PrivilegeSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_PackageSetting</servlet-name>
        <url-pattern>/Servlet_PackageSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Search</servlet-name>
        <url-pattern>/Servlet_Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Components</servlet-name>
        <url-pattern>/Servlet_Components</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_ImageDetails</servlet-name>
        <url-pattern>/Servlet_ImageDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Download</servlet-name>
        <url-pattern>/Servlet_Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Download_1</servlet-name>
        <url-pattern>/Servlet_Download_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Account</servlet-name>
        <url-pattern>/Servlet_Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Packages</servlet-name>
        <url-pattern>/Servlet_Packages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Purch</servlet-name>
        <url-pattern>/Servlet_Purch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_ChangePhoneno</servlet-name>
        <url-pattern>/Servlet_ChangePhoneno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Rating</servlet-name>
        <url-pattern>/Servlet_Rating</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
